@using Blargo.JudisList.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.App.Tenant.ClassTypes;
}

<div class="row margin-bottom-5">
    <div class="col-xs-12">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("ClassTypes")</span>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-body">

        <p>CLASS TYPES CONTENT COMES HERE!</p>

    </div>
</div>

